*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.Home{
    overflow-x: hidden;
}


.home-content{
    height: 100vh;
}
.home-text-content{
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);  
    color: white;
    font-size: 100px;
    text-shadow: 0.1px 5px 5px black;
    
}
.home-text-content h2{
    margin-left: 4em;
}

.home-section{
    background-color: rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    padding:5rem 0;
    position: relative;
}

.home-secHeading{
    font-size:5rem;
    padding:0 10rem;
    text-align: center;
    color: rgb(245, 179, 48);
}

.home-text{
    font-size:1.5rem;
    padding: 0 10rem;
     margin: 1rem 0;
    text-align: start;
}

.paralax{
    height:100vh
}




