@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);


.Programs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    font-family: "Raleway", Arial, sans-serif;
    background: rgb(245, 179, 48);;
}
.cardd {
  position: relative;
  width: 29.5vw;
  height: 45vh;
  border-radius: 10px;
  box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  padding: 30px 0px;
  background: #ffffff;
  cursor: pointer;
  margin: auto;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cardd:hover {
  height: 90vh;
}
.cardd::before{
    content: 'Mountn';

}

.imgbox {
  position: relative;
  width: 30vw;
  height: 50vh;
  transform: translateY(-80px); 
  
  z-index: 01;
}

.imgbox img {
  width: 40vh;
  height: 40vh;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.prog-content {
  margin-top: 5rem;
  padding: 10px 20px;
  text-align: center;
  color: black;
  opacity: 0;
 
}

.cardd:hover > .prog-content {
  opacity: 1;
  transform: translateY(-180px);
}


.prog-title{
  color: rgb(255, 102, 0);
  font-weight: bold;

}

.progcardcont{
 
  grid-column: 2;
  
}
