
.swiper {
  width: 100%;
 
}

.swiper-slide {

  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 20vw;
 
}
.element{
  display: flex;
  align-items: center;
  height:100%;
  width:100%;
  
}


.swiper-slide img {
  display: flex;
  align-items: center;
  width: 100%;
}

.swiper-cont {
 
  width: 50%;
  height: 100%;
  margin: auto;
}