.event-cont{
    position: relative;
    height: 60vh; 
    width: 100%;
    background-image: url("C:\\Users\\91932\\Desktop\\WEB DEV\\Prayaas-website\\frontend\\src\\assets\\background1.jpg");
   
}

.event-title{
position: absolute;
bottom: 10px;
left:2em;
font-size: 50px;
font-weight: bolder;
color: orange;
}

.event-card{
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: auto;
    width: 90vw;
    padding: 10px;
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 20px;
    margin: auto;
    margin-top: 15px;
}
.event-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 30px;


}
.event-detail{
    display: grid;
    grid-template-rows: 6fr 2fr;
    
}

.register-btn {
       
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
  }
.regist-btn-cont{
    padding-left: 30px;
    justify-self: start;
    
}
.register-btn:hover{
    background-color: #2d76f6; /* Green */

}
.event-info p{
    text-align: start;
}


.event-img{
   object-fit: contain;
   margin-right: 5px;

}



/* ------------------------------------- */


.modal, .overlay {
   
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.overlay {
    background: rgba(49,49,49,0.8);

}
.modal-content {
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    z-index: 4;
}


.label{
    display: flex;
    align-items: start;
    margin: 5px;
}

.submit-btn {
       
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px;
}
textarea{
    resize: none;
    
}

.submit-btn:hover{
background-color: #2d76f6; /* Green */

}