
.container1{
    height: 100vh;
   width: 100vw;
   background-image: url("https://media.istockphoto.com/id/1360554439/photo/maldives-tropical-island.jpg?b=1&s=170667a&w=0&k=20&c=AWY54kmUT9IcXJZdSdxxm5JUFK_3fxpmMbWQ6IhEG50=");
    background-size: cover; 
    background-repeat: no-repeat;
}
.btn{
    position: absolute;
    top: 80%
}


 
