
.bg{
   height: auto;
   
   padding: 15px;
   width: 100%;
  
   z-index: -1;
}
.team-title{
   margin-left: 2em;
   padding-top: 0.5em;
   
}
.card-con{
   
   padding: 20px;
   width: 100%;
  
}
/* .container2{
    position: absolute;
    top:4em;
    height: 22em;
   width: 70em
} */

