.team-cont{
   height: 80vh;
   width: 100%;
   background-image: url("../../assets/team/team_bg.jpeg");
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 90%;
}

.title{

margin-left:0.7em; 
font-size: 5em;
width:100vw;
display: flex;
justify-content: start;
font-weight: bold;
color:  rgb(255, 102, 0);;
text-shadow: 1px 5px 5px rgb(0, 0, 0);
}

